<div class="row position-relative">
    <div class="col-12">
        <table class="table table-borderless">
            <tbody>
                <tr [formGroup]="regForm">
                    <td class="pl-0" width="20%"><input type="date" class="form-control" formControlName="date"></td>
                    <td width="30%"><input type="text" class="form-control" formControlName="description"></td>
                    <td width="20%"><input type="text" class="form-control" formControlName="account"></td>
                    <td class="pr-0" width="30%"><input type="number" class="form-control" formControlName="amount"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <i class="fa fa-plus-circle fa-2x position-absolute add-btn" (click)="register()"></i>
</div>